.advantages {
  padding: 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;

  @include font-bold;
  @include font(25px, 30px, $color-black);
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  padding-top: 50px;
  padding-bottom: 33px;

  @include font-bold;
  @include font(17px, 20px, $color-black);

  &:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: $width-tablet) {
  .advantages {
    padding: 60px 50px 50px 50px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 22px;

    &--handmade {
      order: 2;
    }

    &--cheap {
      order: 3;
    }

    &--support {
      order: 4;
    }

    &--like {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $width-desktop) {
  .advantages {
    padding: 70px 225px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }
}
