.catalog__wrapper {
  padding: 30px;
  padding-bottom: 0;
}

.catalog__title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  text-align: center;
  background-color: #f1f1f1;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 32px;
}

@media (min-width: $width-medium) {
  .catalog__title {
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  .catalog__wrapper {
    padding: 0 50px;
  }

  .catalog__item {
    margin-bottom: 55px;
  }
}

@media (min-width: $width-large) {
  .catalog__title {
    padding-top: 40px;
    padding-bottom: 100px;
    margin-bottom: 130px;
  }

  .catalog__wrapper {
    padding: 0 50px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}
