.categories {
  @include list-reset;
}

.categories__item {
  &--interior {
    background-color: $color-aqua;
  }

  &--toy {
    background-color: $color-aqua-dark;
  }
}

.categories__text {
  display: block;
  width: 290px;
  padding: 0;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;

  @include font-bold;
  @include font(19px, 24px, $color-white);
  text-decoration: none;

  &:hover {
    color: rgba($color: $color-white, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $color-white, $alpha: 0.3);
  }
}

@media (min-width: $width-medium) {
  .categories {
    display: flex;
    justify-content: center;
  }

  .categories__text {
    display: block;
    width: 300px;
    padding: 35px 0 35px 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $width-large) {
  .categories__text {
    width: 490px;
  }
}
