.categories {
  @include list-reset;
}

.categories__item {
  &:first-child {
    background-color: #63d1bb;
  }

  &:last-child {
    background-color: #55c3b2;
  }
}

.categories__text {
  display: block;
  width: 290px;
  padding: 0;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;

  @include font-bold;
  @include font(19px, 24px, #ffffff);
  text-decoration: none;

  &:hover {
    color: rgba($color: #ffffff, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
