.contacts {
  padding-top: 35px;
  padding-bottom: 40px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;

  @include font-bold;
  @include font(18px, 30px, $color-black);
}

.contacts__list {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 36px;
  width: 260px;
  border-collapse: collapse;

  @include font-regular;
  @include font(15px, 30px, $color-grey-dark);
}

.contacts__field {
  padding-bottom: 30px;
  width: 40%;
  vertical-align: top;
}

.contacts__value {
  vertical-align: top;
}

.contacts__email {
  color: $color-grey-dark;
  text-decoration: none;
  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba($color: #46c1ae, $alpha: 0.3);
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 35px;
}

.contacts__map-image {
  width: 320px;
}

.contacts__write {
  display: block;
  margin: 0 auto;
}

@media (min-width: $width-medium) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 55px;
  }

  .contacts__title {
    margin-bottom: 55px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 668px;
    font-size: 17px;
  }

  .contacts__table {
    display: flex;
    justify-content: space-between;
  }

  .contacts__field {
    width: 80px;
  }

  .contacts__value {
    width: 254px;
  }

  .contacts__write {
    width: 230px;
  }
}
