.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
}

.copyright__text {
  @include font-bold;
  @include font(19px, 25px, $color-black);

  &:hover {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

.copyright__icon {
  fill: $color-aqua;

  &:hover,
  &:focus {
    fill: #45c1ae;
  }

  &:active {
    fill: #45c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .copyright {
    padding: 0;
    width: 185px;
  }
}
