.copyright {
  padding-top: 27px;
  padding-bottom: 27px;
}

.copyright__link {
  text-decoration: none;
}

.copyright__text {
  @include font-bold;
  @include font(19px, 25px, $color-black);

  &:hover {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

@media (min-width: $width-medium) {
  .copyright {
    padding: 0;
    width: 195px;
  }
}
