.form__fieldset {
  padding: 0;
  padding-top: 32px;
  margin: 0;
  padding-bottom: 32px;
  border: none;
}

.form__fieldset--personal {
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.form__fieldset--tel {
  padding: 0;
  margin-bottom: 10px;
}

.form__fieldset--email {
  padding: 0;
  margin-bottom: 15px;
}

.form__fieldset--more {
  padding: 0;
}

.form__legend {
  padding: 0;
  margin: 0;

  @include font-bold;
  @include font(17px, 17px, $color-aqua);
  text-transform: uppercase;
}

.form__legend--personal {
  padding-top: 5px;
}

.form__legend--tel {
  margin-bottom: 5px;
}

.form__legend--email {
  margin-bottom: 5px;
}

.form__legend--more {
  margin-bottom: 25px;
}

.form__label {
  @include font-bold;
  @include font(17px, 20px, $color-black);
}

.form__radio,
.form__checkbox {
  padding: 0;
  padding-left: 62px;
  margin: 0;
  margin-bottom: 10px;
}

.form__checkbox {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__text--textarea {
  margin-bottom: 15px;
}

.form__input-text {
  padding: 14px 0;
  border: none;
  border-bottom: 2px solid $color-black;

  @include font-regular;
  @include font(17px, 18px, $color-grey-dark);

  &::placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid #77d7c3;
  }
}

.form__input-text--tel {
  padding: 14px 0;

  @include font(19px, 19px, $color-grey-dark);
}

.form__input-text--email {
  padding: 14px 0;
}

.form__textarea {
  margin: 0;
  padding: 15px;
  border: 2px solid $color-grey-dark;
  min-height: 110px;
  max-width: 228px;

  @include font-regular;
  @include font(17px, 17px, $color-grey-dark);

  &::placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 2px solid #77d7c3;
  }
}

.form__note {
  margin: 0;
  margin-bottom: 30px;

  @include font-regular;
  @include font(14px, 16px, $color-grey-dark);
}

.form__button {
  width: 260px;
}

.form__label--radio {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -62px;
    width: 36px;
    height: 36px;
    border: 2px solid $color-black;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid #77d7c3;
  }

  &:active::before {
    border: 2px solid #c6c6c6;
  }
}

.form__input-radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -50px;
  width: 16px;
  height: 16px;
  background-color: #61d1b9;
  border-radius: 50%;
}

.form__label--checkbox {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: -62px;
    width: 36px;
    height: 36px;
    border: 2px solid $color-black;
  }

  &:hover::before {
    border: 2px solid #77d7c3;
  }

  &:active::before {
    border: 2px solid #c6c6c6;
  }
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  top: 3px;
  left: -53px;
  width: 20px;
  height: 8px;
  border-left: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  transform: rotate(-45deg);
}

@media (min-width: $width-tablet) {
  .form__fieldset {
    position: relative;
    padding: 50px 50px 0 225px;

    &--color {
      background-color: #f1f1f1;
    }

    &--personal {
      margin-bottom: 0;
      padding-bottom: 30px;
    }

    &--tel {
      margin-bottom: 0;
      padding-bottom: 25px;
      background-color: #f1f1f1;
    }

    &--email {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 50px;
      background-color: #f1f1f1;
    }

    &--more {
      padding-bottom: 50px;
    }
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
  }

  .form__bottom {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__note {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__legend {
    position: absolute;
    top: 50px;
    left: 50px;

    &--tel {
      top: 70px;
    }

    &--email {
      top: 20px;
    }

    &--more {
      top: 70px;
    }
  }

  .form__label {
    font-size: 19px;
    margin-bottom: 0;
  }

  .form__radio {
    margin-bottom: 55px;
    padding-left: 78px;
  }

  .form__checkbox {
    margin-bottom: 57px;
    padding-left: 78px;
    width: 160px;
  }

  .form__label--radio {
    &::before {
      top: -15px;
      left: -78px;
      width: 52px;
      height: 52px;
    }
  }

  .form__input-radio:checked + .form__label--radio::after {
    top: 2px;
    left: -61px;
    width: 22px;
    height: 22px;
  }

  .form__label--checkbox {
    &::before {
      top: -15px;
      left: -78px;
      width: 52px;
      height: 52px;
    }
  }

  .form__input-checkbox:checked + .form__label--checkbox::after {
    top: 0;
    left: -65px;
    width: 30px;
    height: 15px;
  }

  .form__text {
    flex-direction: row;
    align-items: center;

    &--tel {
      margin-bottom: 0;
    }

    &--email {
      margin-bottom: 0;
    }
  }

  .form__label--personal {
    margin-right: 25px;
  }

  .form__input-text {
    font-size: 19px;
    line-height: 20px;
    flex-grow: 1;

    &--tel {
      background-color: transparent;
    }

    &--email {
      background-color: transparent;
    }
  }

  .form__textarea {
    margin: 0;
    padding: 17px;
    min-height: 108px;
    min-width: 450px;
    font-size: 19px;
    line-height: 20px;
  }

  .form__text--textarea {
    margin-bottom: 0;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $width-desktop) {
  .form__fieldset {
    padding: 50px 50px 0 225px;

    &--personal {
      padding-right: 225px;
      padding-bottom: 30px;
    }

    &--tel {
      padding-right: 225px;
    }

    &--email {
      padding-right: 225px;
      padding-bottom: 50px;
    }

    &--more {
      padding-right: 225px;
      padding-bottom: 50px;
    }
  }

  .form__textarea {
    margin: 0;
    padding: 17px;
    min-height: 108px;
    min-width: 666px;
  }

  .form__bottom {
    padding-left: 225px;
    padding-right: 225px;
  }
}
