.form__fieldset {
  max-width: 320px;
  padding: 32px 30px 28px 30px;
  margin: 0 auto;
  border: none;
  box-sizing: border-box;
}

.form__fieldset--type {
  padding: 35px 30px 22px 30px;
}

.form__fieldset--color {
  padding-bottom: 35px;
}

.form__fieldset--personal {
  padding-top: 28px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.form__fieldset--contacts {
  padding: 0 30px;
}

.form__legend {
  padding: 0;
  margin: 0;

  @include font-bold;
  @include font(17px, 17px, $color-aqua);
  text-transform: uppercase;
}

.form__legend--personal {
  padding-top: 5px;
}

.form__legend--tel {
  margin-bottom: 7px;
}

.form__legend--email {
  margin-bottom: 7px;
}

.form__legend--more {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.form__label {
  @include font-bold;
  @include font(17px, 20px, $color-black);
}

.form__radio {
  padding: 0;
  padding-left: 62px;
  margin: 0;
  margin-bottom: 25px;
}

.form__checkbox {
  padding: 0;
  padding-left: 62px;
  margin: 0;
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__text--personal {
  margin-bottom: 19px;
}

.form__text--tel {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.form__text--email {
  margin: 0;
  padding: 0;
}

.form__input-text {
  box-sizing: border-box;
  height: 52px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $color-black;

  @include font-regular;
  @include font(17px, 18px, $color-grey-dark);

  &:required:invalid,
  &:required {
    outline: none;
    box-shadow: none;
  }

  &:-ms-input-placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &::placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid #77d7c3;
  }
}

/* удаление иконки очистки поля в IE */
.form__input-text::-ms-clear {
  display: none;
}

/* удаление иконки отображения пароля в IE */
.form__input-text::-ms-reveal {
  display: none;
}

.form__input-text--tel {
  @include font(19px, 19px, $color-grey-dark);
  width: 100%;
  padding-right: 45px;
}

.form__input-text--email {
  width: 100%;
  padding-right: 45px;
}

.form__input-icon {
  position: relative;
  overflow: hidden;
}

.form__icon {
  position: absolute;
  top: 10px;
  right: 6px;
  fill: #cccccc;
}

.form__input-text:hover + .form__icon,
.form__input-text:focus + .form__icon {
  fill: #61d1b9;
}

.form__textarea {
  margin: 0;
  padding: 15px;
  border: 2px solid $color-grey-dark;
  border-radius: 0;
  min-height: 142px;
  width: 100%;
  max-width: 260px;
  box-sizing: border-box;
  overflow: auto;

  @include font-regular;
  @include font(17px, 17px, $color-grey-dark);

  &:-ms-input-placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &::placeholder {
    color: rgba($color: $color-grey-dark, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 2px solid #77d7c3;
  }
}

.form__textarea-container {
  position: relative;
  margin: 0 auto;
  max-width: $width-mobile;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.form__note {
  margin: 0;
  margin-bottom: 30px;

  @include font-regular;
  @include font(14px, 16px, $color-grey-dark);
}

.form__button {
  width: 260px;
}

.form__label--radio {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 17px;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: -62px;
    width: 36px;
    height: 36px;
    border: 2px solid $color-black;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid #77d7c3;
  }

  &:active::before {
    border: 2px solid #c6c6c6;
  }
}

.form__input-radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  top: 3px;
  left: -50px;
  width: 16px;
  height: 16px;
  background-color: #61d1b9;
  border-radius: 50%;
}

.form__input-radio:focus + .form__label--radio::before {
  border: 2px solid #77d7c3;
}

.form__input-radio:active + .form__label--radio::before,
.form__input-radio:disabled + .form__label--radio::before {
  border: 2px solid #c6c6c6;
}

.form__label--checkbox {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -62px;
    width: 36px;
    height: 36px;
    border: 2px solid $color-black;
  }

  &:hover::before {
    border: 2px solid #77d7c3;
  }

  &:active::before {
    border: 2px solid #c6c6c6;
  }
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -53px;
  width: 20px;
  height: 8px;
  border-left: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  transform: rotate(-45deg);
}

.form__input-checkbox:focus + .form__label--checkbox::before {
  border: 2px solid #77d7c3;
}

.form__input-checkbox:disabled + .form__label--checkbox::before {
  border: 2px solid #c6c6c6;
}

.form__bottom {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 30px 55px 30px;
  box-sizing: border-box;
}

@media (max-width: $width-mobile-only) {
  .form__legend {
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 200px;
      top: 50%;
      right: 0;
      height: 1px;
      background-color: $color-aqua;
    }

    &--color::after {
      width: 200px;
    }

    &--personal::after {
      top: 12px;
    }

    &--email::after {
      width: 180px;
    }
  }
}

@media (min-width: $width-tablet) {
  .form__wrapper {
    background-color: #f1f1f1;
    overflow: hidden;
  }

  .form__fieldset {
    max-width: $width-tablet;
    position: relative;
    padding: 50px 50px 15px 215px;

    &--color {
      padding-top: 60px;
      padding-right: 0;
      padding-bottom: 15px;
    }

    &--personal {
      padding-top: 48px;
      margin-bottom: 0;
      padding-bottom: 30px;
    }

    &--more {
      padding-top: 35px;
      padding-bottom: 50px;
    }
  }

  .form__fieldset--contacts {
    max-width: $width-tablet;
    position: relative;
    padding: 46px 50px 50px 215px;
    margin-bottom: 0;
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
  }

  .form__bottom {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
  }

  .form__note {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__legend {
    position: absolute;
    top: 55px;
    left: 50px;

    &--color {
      top: 65px;
    }

    &--personal {
      top: 60px;
    }

    &--tel {
      top: 65px;
    }

    &--email {
      top: 140px;
    }

    &--more {
      top: 67px;
    }
  }

  .form__label {
    font-size: 19px;
    margin-bottom: 0;
  }

  .form__radio {
    margin-bottom: 52px;
    padding-left: 80px;
  }

  .form__checkbox {
    margin-bottom: 52px;
    padding-left: 78px;
    box-sizing: border-box;
    width: 265px;
  }

  .form__label--radio {
    display: inline;
    line-height: 20px;

    &::before {
      top: -12px;
      left: -79px;
      width: 50px;
      height: 50px;
    }
  }

  .form__input-radio:checked + .form__label--radio::after {
    top: 4px;
    left: -63px;
    width: 22px;
    height: 22px;
  }

  .form__label--checkbox {
    &::before {
      top: -10px;
      left: -78px;
      width: 50px;
      height: 50px;
    }
  }

  .form__input-checkbox:checked + .form__label--checkbox::after {
    top: 2px;
    left: -65px;
    width: 30px;
    height: 15px;
  }

  .form__text {
    flex-direction: row;
    align-items: center;

    &--personal {
      margin-bottom: 24px;
    }

    &--tel {
      margin-bottom: 25px;
    }
  }

  .form__label--personal {
    margin-right: 28px;
    margin-bottom: 0;
  }

  .form__input-text {
    font-size: 19px;
    line-height: 20px;
    flex-grow: 1;
    padding-left: 15px;
    background-color: transparent;
  }

  .form__input-text--tel,
  .form__input-text--email {
    padding-left: 17px;
    padding-right: 55px;
    width: 500px;
  }

  .form__icon {
    right: 20px;
  }

  .form__input-text--tel + .form__icon {
    right: 25px;
  }

  .form__textarea {
    margin: 0;
    padding: 15px 17px;
    min-height: 143px;
    min-width: 502px;
    font-size: 19px;
    line-height: 20px;
  }

  .form__text--textarea {
    margin-bottom: 0;
  }

  .form__textarea-container {
    max-width: $width-tablet;
    padding: 50px 50px 15px 215px;
    margin-bottom: 35px;
  }

  .form__button {
    width: 230px;
    margin-top: 2px;
  }
}

@media (min-width: $width-desktop) {
  .form__fieldset {
    max-width: 1150px;
    padding: 50px 50px 12px 225px;

    &--color {
      padding-top: 60px;
      padding-bottom: 15px;
    }

    &--personal {
      padding-top: 48px;
      padding-bottom: 30px;
      padding-right: 225px;
    }

    &--contacts {
      padding-right: 225px;
      padding-bottom: 50px;
      padding-top: 48px;
    }

    &--more {
      padding-top: 35px;
      padding-bottom: 48px;
    }
  }

  .form__legend {
    top: 52px;
    left: 115px;

    &--color {
      top: 65px;
      left: 110px;
    }

    &--personal {
      top: 60px;
      left: 112px;
    }

    &--tel {
      top: 65px;
      left: 110px;
    }

    &--email {
      top: 142px;
      left: 110px;
    }

    &--more {
      top: 65px;
      left: 112px;
    }
  }

  .form__icon {
    right: 5px;
  }

  .form__input-text--tel + .form__icon {
    right: 5px;
  }

  .form__input-text--tel,
  .form__input-text--email {
    width: 700px;
  }

  .form__checkbox {
    margin-bottom: 52px;
    padding-left: 78px;
    box-sizing: border-box;
    width: 262px;
  }

  .form__label--radio {
    &::before {
      top: -14px;
      left: -81px;
    }
  }

  .form__input-radio:checked + .form__label--radio::after {
    top: 2px;
    left: -65px;
    width: 22px;
    height: 22px;
  }


  .form__textarea {
    margin: 0;
    padding: 15px;
    min-height: 142px;
    min-width: 700px;
  }

  .form__textarea-container {
    max-width: $width-desktop;
    padding: 50px 50px 12px 225px;
  }

  .form__button {
    margin-top: 0;
  }

  .form__bottom {
    max-width: 1150px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 50px;
  }
}
