.logo {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 1px 0 $color-grey-light;
}

.logo__image {
  margin: 0;
  padding: 0;
}

@media (min-width: $width-medium) {
  .logo {
    width: 320px;
    padding: 0 0 0 50px;
    text-align: left;
    box-shadow: none;
  }
}

@media (min-width: $width-large) {
  .logo {
    width: auto;
    padding: 0;
    text-align: center;
  }
}
