.logo {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.logo--footer {
  display: none;
}

.logo__image {
  margin: 0;
  padding: 0;
}

@media (min-width: $width-tablet) {
  .logo {
    width: auto;
    padding: 0;
    padding-top: 5px;
    text-align: left;
    box-shadow: none;
  }

  .logo--footer {
    padding-top: 0;
    display: block;
    width: 180px;
  }

  .logo[href] .logo__icon {
    &:hover path,
    &:focus path {
      fill: #45c1ae;
    }

    &:active {
      fill: #45c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: $width-desktop) {
  .logo {
    width: auto;
    padding: 0;
    padding-top: 5px;
    text-align: center;
  }

  .logo--footer {
    padding: 0;
    width: 185px;
    text-align: left;
  }
}
