.order__wrapper {
  padding: 30px;
  padding-top: 10px;
  margin-bottom: 25px;
}

.order__title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  text-align: center;
  background-color: #f1f1f1;
}

.order__intro {
  margin-bottom: 22px;

  @include font-regular;
  @include font(13px, 24px, $color-grey-dark);
}

@media (min-width: $width-tablet) {
  .order__wrapper {
    padding: 0;
  }

  .order__title {
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  .order__intro {
    font-size: 17px;
    line-height: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: $width-desktop) {
  .order__title {
    padding-top: 40px;
    padding-bottom: 100px;
    margin-bottom: 130px;
  }
}
