.order__title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 70px;
  padding-bottom: 75px;
  text-align: center;
  background-color: #f1f1f1;
}

.order__intro {
  max-width: $width-mobile;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 9px 30px 7px 30px;
  box-sizing: border-box;

  @include font-regular;
  @include font(13px, 24px, $color-grey-dark);
}

@media (min-width: $width-tablet) {
  .order__title {
    position: relative;
    padding-top: 35px;
    padding-bottom: 85px;
    margin-bottom: 18px;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .order__intro {
    margin-bottom: 0;
    max-width: $width-tablet;
    padding: 50px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .order__title {
    padding-top: 35px;
    padding-bottom: 105px;
    margin-bottom: 70px;
  }

  .order__intro {
    max-width: 700px;
    padding: 50px 0;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}
