.page-header {
  position: relative;
  box-shadow: 0 1px 0 $color-grey-light;
}

.page-header__text {
  display: none;
}

@media (min-width: $width-tablet) {
  .page-header {
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;

    * {
      box-shadow: 0 0 0 1px red;
    }
  }

  .page-header--inner {
    background-color: #f1f1f1;
  }

  .page-header__container {
    order: 4;
    width: 40%;
    background-color: #f9f9f9;
    box-shadow: 0 -1px 0 $color-grey-light;
  }

  .page-header__text {
    display: block;
    margin: 0;
    padding: 18px 0;
    padding-right: 50px;

    @include font-regular;
    @include font(15px, 24px, $color-grey-dark);
    text-align: right;
  }
}

@media (min-width: $width-desktop) {
  .page-header__container {
    display: flex;
    //justify-content: space-between;
    width: 100%;
    padding-left: calc(50% - 575px);
    padding-right: calc(50% - 575px);
  }

  .page-header__text {
    margin-left: auto;
  }
}
