.page-header {
  position: relative;
}

.page-header__logo {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 1px 0 $color-grey-light;
}

.page-header__logo-image {
  margin: 0;
  padding: 0;
}
