.product {
  width: 260px;
  box-sizing: border-box;
  background-color: $color-white;
  border: 1px solid $color-grey-light;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($color: $color-black, $alpha: 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color: $color-black, $alpha: 0.1);
  }
}

.product__image-link {
  text-decoration: none;
}

.product__image {
  display: block;
  width: 260px;
  height: 195px;
}

.product__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 25px;
  margin-left: 25px;

  @include font-bold;
  @include font(17px, 24px, $color-black);
}

.product__link {
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

.product__description {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 20px;

  @include font-regular;
  @include font(13px, 30px, $color-grey-dark);
}

.product__price {
  position: relative;
  margin: 0 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;

  @include font-bold;
  @include font(15px, 24px, $color-black);
  border-top: 1px solid $color-grey-light;
}

.product__buy {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.product__icon-cart {
  fill: #d3d2d2;

  &:hover,
  &:focus {
    fill: $color-aqua;
  }

  &:active {
    fill: $color-aqua;
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .product {
    width: 668px;
    display: flex;
  }

  .product__container {
    width: 334px;
    box-sizing: border-box;
    padding: 25px 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .product__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__description {
    margin: 0;
    margin-bottom: auto;
    padding: 0;
    font-size: 15px;
  }

  .product__price {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 28px;
    font-size: 17px;
  }

  .product__image-link {
    height: 334px;
  }
}

@media (min-width: $width-desktop) {
  .product {
    width: 316px;
    flex-direction: column;
    justify-content: stretch;
  }

  .product__image-link {
    height: 462px;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__container {
    width: 316px;
    box-sizing: border-box;
    padding: 20px 28px 0 28px;
    min-height: 190px;
    flex-grow: 1;
  }

  .product__price {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
