.second-menu {
  display: none;
}

@media (min-width: $width-desktop) {
  .second-menu {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 800px;
    box-sizing: border-box;
    flex-grow: 0;
    padding: 0 0 0 50px;
  }

  .second-menu__item {
    margin-right: 60px;
  }

  .second-menu__link {
    @include font-bold;
    @include font(15px, 24px, $color-black);
    display: block;
    text-decoration: none;
    padding: 18px 0;

    &[href]:hover,
    &[href]:focus {
      color: rgba($color: $color-black, $alpha: 0.6);
    }

    &[href]:active {
      color: rgba($color: $color-black, $alpha: 0.3);
    }
  }
}
