.site-list {
  @include list-reset;
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 75px;

  @include font-bold;
  @include font(17px, 24px, $color-black);
  text-decoration: none;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

@media (min-width: $width-medium) {
  .site-list {
    position: absolute;
    bottom: -60px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 60px;
    width: 350px;
  }

  .site-list__link {
    padding: 0;
    margin-right: 35px;
    font-size: 15px;
    box-shadow: none;
  }
}

@media (min-width: $width-large) {
  .site-list {
    width: 450px;
    //order: 1;
    position: static;
    padding: 0;
  }

  .site-list__item:first-child {
    border-right: 1px solid $color-grey-light;
  }

  .site-list__link {
    padding: 35px;
    margin: 0;
    font-size: 17px;
    min-height: auto;
  }
}
