.site-list {
  @include list-reset;
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 75px;

  @include font-bold;
  @include font(17px, 24px, #000000);
  text-decoration: none;
  box-shadow: 0 1px 0 #ececec;

  &[href]:hover {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: #000000, $alpha: 0.3);
  }
}
