.site-list {
  @include list-reset;
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 75px;

  @include font-bold;
  @include font(17px, 24px, $color-black);
  text-decoration: none;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover,
  &[href]:focus {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;
    order: 3;
    width: 60%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 -1px 0 $color-grey-light;
  }

  .site-list--inner {
    background-color: #f1f1f1;
  }

  .site-list__link {
    padding: 18px 0;
    margin-right: 35px;
    font-size: 15px;
    box-shadow: none;
  }
}

@media (min-width: $width-desktop) {
  .site-list {
    width: 486px;
    box-sizing: border-box;
    padding: 0;
    justify-content: flex-start;
    order: 1;
    box-shadow: none;
    background-color: $color-white;
  }

  .site-list--inner {
    background-color: $color-white;
  }

  .site-list__item:nth-child(2n+1) {
    border-right: 1px solid $color-grey-light;
  }

  .site-list__link {
    padding: 30px 35px;
    margin: 0;
    font-size: 17px;
    min-height: auto;
  }
}
