.slider__toggles {
  display: flex;
  margin: 0 auto;
  margin-bottom: 38px;
}

.slider__toggle {
  padding: 0;
  background-color: $color-white;
  border: 1px solid #ebebeb;
  display: inline-block;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.slider__toggle--left,
.slider__toggle--right {
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__toggle--left {
  background-image: url("../img/icon-left-arrow.svg");
  border-right: none;
}

.slider__toggle--right {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $width-tablet) {
  .slider__toggle {
    width: 85px;
    border: none;
  }
}
