.slider__slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.slider__toggles {
  display: flex;
  margin: 0 auto;
  padding-bottom: 38px;
}

.slider__toggle {
  padding: 0;
  background-color: $color-white;
  border: 1px solid #ebebeb;
  display: inline-block;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.slider__toggle--left,
.slider__toggle--right {
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__toggle--left {
  background-image: url("../img/icon-left-arrow.svg");
  border-right: none;
}

.slider__toggle--right {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $width-tablet) {
  .slider__toggles {
    padding-bottom: 0;
  }

  .slider__toggle {
    width: 88px;
    border: none;
  }
}
