.social {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;

  @include list-reset;
}

.social__icon {
  &:hover path,
  &:focus path {
    fill: #45c1ae;
  }

  &:active {
    fill: #45c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .social {
    padding: 0;
    border: none;
    width: 150px;
  }
}
