.social {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.social__item {
  padding: 0 20px;
}

.social__icon {
  &:hover,
  &:focus {
    fill: #45c1ae;
  }

  &:active {
    fill: #45c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .social {
    padding: 0;
    padding-top: 10px;
    border: none;
  }
}
