.social {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;

  @include list-reset;
}

@media (min-width: $width-medium) {
  .social {
    padding: 0;
    border: none;
    width: 150px;
  }
}
