.user-list {
  @include list-reset;
}

.user-list__cart,
.user-list__search {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;
  overflow: hidden;

  @include font-bold;
  @include font(17px, 24px, $color-black);
  text-decoration: none;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover,
  &[href]:focus {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

.user-list__search-icon,
.user-list__cart-icon {
  position: absolute;
  content: "";
  top: 28px;
  left: 32px;
  fill: #d3d2d2;
}

.user-list__search:hover .user-list__search-icon,
.user-list__search:focus .user-list__search-icon,
.user-list__cart:hover .user-list__cart-icon,
.user-list__cart:focus .user-list__cart-icon {
  fill: $color-aqua;
}

.user-list__search:active .user-list__search-icon,
.user-list__cart:active .user-list__cart-icon {
  fill: $color-aqua;
  opacity: 0.3;
}

@media (min-width: $width-tablet) {
  .user-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    max-width: 501px;
  }

  .user-list__cart {
    padding: 30px 50px 30px 82px;
    box-shadow: none;
  }

  .user-list__cart-icon {
    top: 33px;
    left: 30px;
  }

  .user-list__search {
    padding: 0;
    width: 82px;
    height: 88px;
    border-left: 1px solid $color-grey-light;
    border-right: 1px solid $color-grey-light;
    box-shadow: none;
    cursor: pointer;
  }

  .user-list__search-text {
    display: none;
  }

  .user-list__search-icon {
    top: 35px;
    left: 33px;
  }
}

@media (min-width: $width-desktop) {
  .user-list {
    width: 43%;
    //max-width: 500px;
    box-sizing: border-box;
    justify-content: flex-end;
    //padding-right: calc(50% - 575px);
  }

  .user-list__cart {
    padding-left: 84px;
  }
}
