.user-list {
  @include list-reset;
}

.user-list__cart {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;

  @include font-bold;
  @include font(17px, 24px, $color-black);
  text-decoration: none;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}
