.user-list {
  @include list-reset;
}

.user-list__cart,
.user-list__search {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;

  @include font-bold;
  @include font(17px, 24px, $color-black);
  text-decoration: none;
  box-shadow: 0 1px 0 $color-grey-light;

  &[href]:hover {
    color: rgba($color: $color-black, $alpha: 0.6);
  }

  &[href]:active {
    color: rgba($color: $color-black, $alpha: 0.3);
  }
}

@media (min-width: $width-tablet) {
  .user-list {
    display: flex;
    align-items: center;
    order: 2;
  }

  .user-list__cart {
    padding: 0 0 0 80px;
    box-shadow: none;
  }

  .user-list__search {
    padding: 0;
    width: 84px;
    height: 88px;
    border-left: 1px solid $color-grey-light;
    border-right: 1px solid $color-grey-light;
    box-shadow: none;
    cursor: pointer;
  }

  .user-list__search-text {
    display: none;
  }
}
