.video {
  position: relative;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $width-medium) {
  .video {
    position: absolute;
    width: 668px;
    height: 455px;
  }

  .video__image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $width-large) {
  .video {
    width: 682px;
  }
}
