.video {
  position: relative;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.7;
  }
}

@media (min-width: $width-tablet) {
  .video {
    position: absolute;
    width: 668px;
    height: 455px;
  }

  .video__image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $width-desktop) {
  .video {
    width: 682px;
  }

  .video__image {
    width: 682px;
    height: 455px;
  }
}
