.wrapper {
  margin: 0 auto;
  width: $width-mobile;
}

@media (min-width: $width-tablet) {
  .wrapper {
    width: $width-tablet;
  }
}

@media (min-width: $width-desktop) {
  .wrapper {
    width: $width-desktop;
  }
}
