body {
  min-width: $width-mobile;
  padding: 0;
  margin: 0;

  @include font-regular;
  @include font(15px, 24px, $color-grey-dark);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading-inner-main {
  @include font-bold;
  @include font(27px, 30px, $color-black);
}


@media (min-width: $width-tablet) {
  .heading-inner-main {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $width-desktop) {
  .heading-inner-main {
    font-size: 53px;
    line-height: 57px;
  }
}
