body {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  min-width: $width-mobile;
  padding: 0;
  margin: 0;
  background-color: $color-white;

  @include font-regular;
  @include font(15px, 24px, $color-grey-dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading-inner-main {
  @include font-bold;
  @include font(27px, 30px, $color-black);
}

/* удаление иконки очистки поля в IE */
input[type="text"]::-ms-clear {
  display: none;
}

/* удаление иконки отображения пароля в IE */
input[type="password"]::-ms-reveal {
  display: none;
}

/* удаление скролла в IE */
textarea {
  overflow: auto;
}


@media (min-width: $width-tablet) {
  .heading-inner-main {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $width-desktop) {
  .heading-inner-main {
    font-size: 53px;
    line-height: 57px;
  }
}
