@mixin font($font_size, $line_height, $color) {
  font-size: $font_size;
  line-height: $line_height;
  color: $color;
}

@mixin font-regular {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bold {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

