$color-black: #000000;
$color-grey-dark: #444444;
$color-grey-light: #ececec;
$color-aqua: #63d1bb;
$color-aqua-dark: #55c3b2;
$color-white: #ffffff;
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;
$width-mobile-only: 767px;
