$color-black: #000000;
$color-grey-dark: #444444;
$color-grey-light: #ececec;
$color-aqua: #63d1bb;
$color-aqua-dark: #55c3b2;
$color-white: #ffffff;
$width-small: 320px;
$width-medium: 768px;
$width-large: 1150px;
